.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.header__logo {
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 0;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", Serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
  margin: 202px 0 0;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", Serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__footer {
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 500;
  color: #838383;
  padding: 0;
}

.header__footer-column {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__footer-column-hours {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.header__footer_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__paragraph {
  position: absolute;
  bottom: 40px;
  right: 80px;
}
